[package]
name = "nfg-timer"
version = "1.0.0"
authors = ["Brian Misiak <bm@net4game.com>"]
edition = "2018"
license = "LGPL-3.0-only"
readme = "README.md"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
samp = { git = "https://github.com/ZOTTCE/samp-rs.git", rev = "88d4f54" }
slab = "0.4.2"
log = "0.4.6"
fern = "0.5.7"

[profile.release]
lto = true